$text-color: #333333;
$black-color: #1E1E1E;
$light-brown: #C3B8A5;
$white-color: #FFFFFF;
$white-black: #A2A2A2;
$light-font: #9A9A9A;
$dark-brown: rgb(80, 0, 0);
$blue-white: #f3f3f3;
$Jakartha :'Plus Jakarta Sans', sans-serif;

@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}