@import "_theme";
@import "_scrollbar";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  font-family: $Jakartha;
}

header {
  width: 100%;

  .logo-text {
    color: $black-color;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    span {
      color: $light-brown;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 50px;
  }

  .nav-items {
    display: flex;
    flex-direction: row;

    .nav-item {
      list-style: none;
      padding: 24.96px;

      .nav-link {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        font-weight: 500;
      }
    }

    .nav-item:hover {
      background-color: $white-black;
      color: $white-color;
    }
  }

  .hero-image{
    width: 100%;
    height: 880px;
    overflow: hidden;
    background-image: linear-gradient($white-color,$black-color);
    position: relative;
    
    img{
      width: 100%;
      opacity: 0.5;
    }

    .heading-text{
      position: absolute;
      text-align: center;
      font-size: 120px;
      font-weight: 300;
      user-select: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-family: $Jakartha;
      color: $white-color;
      text-transform: uppercase;
    }
  }
}

#section-one{
  width:100%;

  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,30rem);

  .box{
    background-color: $blue-white;
    img{
      width: 100%;
      height: 100%;
    }
  }

  .box-1{
    img{
      object-fit: cover;
    }
  }
  
  .box-3{
    img{
      object-fit: cover;
    }  
  }
  .box-6{  
    img{
      object-fit: cover;
    }
  }
  
  .box-8{
    img{
      object-fit: cover;
    }
  }

  .box .box-data{
    margin: 10.125rem 0 0 6.1875rem;
    
    .box-heading{
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px;
      position: relative;
    }

    .box-heading::after{
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      background-color: $dark-brown;
      border-radius: 2px;
      bottom: -30%;
      left: 2px;
    }

    .box-para{
      font-size: 14px;
      font-weight: 400;
      color: $light-font;
      line-height: 26px;
      margin-right: 99px;
      margin-top: 16.96px;
    }
  }

}

#section-two{
  width: 1440px;
  height: 1145px;
  margin-top: 112px;
  margin-inline:auto;

  .box-top-heading{
    margin-top: 0;
    text-align: center;
    margin-bottom: 70px;
    
    p{
      color: $light-brown;
      font-size: 18px;
    }

    h4{
      color: $black-color;
      font-size: 40px;
    }
  }

  .card-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 28.9375rem);
    grid-row-gap: 4.375rem;
    grid-column-gap: 1.25rem;

    .card-item{
      background-color: $blue-white;
      cursor: pointer;

      .image{
        height: 24.3125rem;
        width: 21.5625rem;
        overflow: hidden;
        
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.2s all ease-in;
          background-position: center;
        }

        img:hover{
          scale: 1.07;
          filter: brightness(70%);
        }
      }

      .card-data{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p:nth-child(1){
          margin-top: .9375rem;
        }
        p:nth-child(2){
          color: $light-font
        }
      }
    }
  }
}

#section-three{
  width: 90.3125rem;
  height: 15.625rem;
  margin-inline: auto;
  margin-top: 112px;
  border: .125rem solid $blue-white;
  border-radius: 5px;
  padding: 20px;

  margin-bottom: 200px;

  .banner{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: $blue-white;
  }

}